[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vinay4606
[access "refs/for/refs/*"]
	read = group user/vinay4606
	push = group user/vinay4606
	label-Code-Review = -2..+2 group user/vinay4606
	label-Verified = -1..+1 group user/vinay4606
	rebase = group user/vinay4606
	removeReviewer = group user/vinay4606
	submit = group user/vinay4606
[access "refs/heads/*"]
	read = group user/vinay4606
	create = group user/vinay4606
	push = +force group user/vinay4606
	pushMerge = group user/vinay4606
[access "refs/tags/*"]
	push = group user/vinay4606
	push = +force group user/vinay4606
